/* CSS for SIRSimulatorXBlock */

.c-form__subsection input, .c-form__subsection textarea {
  box-sizing: border-box;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid #eee;
}

.c-form__subsection label {
  font-weight: bold;
}
